<%= form_for :clinic, url: clinics_path do |f| %>
<% if @clinic.errors.any? %>
 <div id="error_explanation"> 
 <h2>
 <%= pluralize(@clinic.errors.count, "error") %> prohibited
 this article from being saved:
 </h2>
 <ul>
 <% @clinic.errors.full_messages.each do |msg| %>
 <li><%= msg %></li>
 <% end %>
 </ul>
 </div>
 <% end %>

<h1>CREATE A NEW CLINIC</h1>



<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 Clinic Name</span>
   <input type="text" class="form-control" placeholder="Clinic Name" aria-describedby="sizing-addon1" <%= f.text_field :clinicname %>
</div>


<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 Clinic Address</span>
   <input type="text" class="form-control" placeholder="Clinic Address" aria-describedby="sizing-addon1" <%= f.text_area :clinicaddress %>
</div>


<button type="submit" class="btn btn-primary btn-lg">Submit</button>


<% end %>

<%= link_to 'Back', clinics_path %> 