
<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customer first Name</span>
   <input type="text" class="form-control" placeholder="customer_firstName" aria-describedby="sizing-addon1" <%= f.text_field :customer_firstName%>
</div>
</p>
<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customer last name</span>
   <input type="text" class="form-control" placeholder="customer_lastName" aria-describedby="sizing-addon1" <%= f.text_field :customer_lastName%>
</div>
</p>

<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customer email</span>
   <input type="text" class="form-control" placeholder="customeremail" aria-describedby="sizing-addon1" <%= f.text_field :customeremail%>
</div>
</p>


<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customer address</span>
   <input type="text" class="form-control" placeholder="customeraddress" aria-describedby="sizing-addon1" <%= f.text_area :customeraddress%>
</div>
</p>
<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customer number</span>
   <input type="text" class="form-control" placeholder="customer number" aria-describedby="sizing-addon1" <%= f.text_field :customernumber%>
</div>
</p>


 <p>
<button type="submit" >Create customer</button>
 </p>
