<%= form_for :customer, url: customers_path do |f| %>
<% if @customer.errors.any? %>
 <div id="error_explanation"> 
 <h2>
 <%= pluralize(@customer.errors.count, "error") %> prohibited
 this article from being saved:
 </h2>
 <ul>
 <% @customer.errors.full_messages.each do |msg| %>
 <li><%= msg %></li>
 <% end %>
 </ul>
 </div>
 <% end %>



<h1>Adding customer</h1>



<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customer name</span>
   <input type="text" class="form-control" placeholder="Customer First Name" aria-describedby="sizing-addon1" <%= f.text_field :customerfirst_name%>
</div>
</p>

<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customer Last name</span>
   <input type="text" class="form-control" placeholder="Customer Last Name" aria-describedby="sizing-addon1" <%= f.text_field :customerlast_name%>
</div>
</p>


<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customer email</span>
   <input type="text" class="form-control" placeholder="customeremail" aria-describedby="sizing-addon1" <%= f.text_field :customeremail%>
</div>
</p>


<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customer number</span>
   <input type="text" class="form-control" placeholder="Customer Number" aria-describedby="sizing-addon1" <%= f.text_field :customernumber%>
</div>
</p>

<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customeraddress</span>
   <input type="body" class="form-control" placeholder="Customer Address" aria-describedby="sizing-addon1" <%= f.text_area :customeraddress%>
</div>
</p>

<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customer email</span>
   <input type="text" class="form-control" placeholder="Customer email" aria-describedby="sizing-addon1" <%= f.text_field :customeremail%>
</div>
</p>

<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 customerdob</span>
   <input type="date" class="form-control" placeholder="Customer dob" aria-describedby="sizing-addon1" <%= f.date_field :customerdob%>
</div>
</p>



 <p>
<button type="submit" class="btn btn-primary btn-lg">Submit</button>
 </p>

<% end %>

<%= link_to 'Back', customers_path %>