
<table>
 <tr>
  <td>
 <strong>doctorname:</strong>
 <%= doctor.doctorname %>
</td>
</tr>

<tr>
  <td>
 <strong>doctoremail</strong>
 <%= doctor.doctoremail %>
</td>
</tr>

 <tr>
  <td>
 <strong>doctorspeciality</strong>
 <%= doctor.doctorspeciality %>
</td>
</tr>
 

 <tr>
  <td>
 <strong>doctornumber</strong>
 <%= doctor.doctornumber %>
 </td>
</tr>





 <tr>
  <td>
<%= link_to 'Show', clinic_doctor_path(doctor) %>
 </td>
</tr>
 <tr>
  <td>
 <%= link_to 'Destroy Doctor', [doctor.clinic, doctor],
 method: :delete,
 data: { confirm: 'Are you sure?' } %>
 </td>
</tr>

 </table>

 
