<table class="table table-striped table-dark table-bordered" id="sizing-addon2">

  <tbody>
    <tr>
      <th scope="row">doctor-name:</th>
      <td><strong><%= doctor.doctorname %></strong></td>

    </tr>
    <tr>
      <th scope="row">Doctor Email</th>
      <td><strong><%= doctor.doctoremail %></strong></td>

    </tr>
    <tr>
      <th scope="row">Doctor Speciality</th>
      <td><strong><%= doctor.doctorspeciality %></strong></td>

    </tr>
    <tr>
      <th scope="row">Doctor Number</th>
      <td><strong><%= doctor.doctornumber %></strong></td>

    </tr>



 <tr>
  <td><strong>
<%= link_to 'Show', clinic_doctor_path(doctor) %></strong>
 </td>
</tr>
 <tr>
  <td><strong>
 <%= link_to 'Destroy Doctor', [doctor.clinic, doctor],
 method: :delete,
 data: { confirm: 'Are you sure?' } %></strong>
 </td>
</tr>
  </tbody>
</table>


 
