<%= form_for([@clinic, @clinic.doctors.build]) do |f| %>

<p>
<div class="input-group input-group-lg">
   <span class="input-group-addon" id="sizing-addon1">
 Doctor Name</span>
   <input type="text" class="form-control" placeholder="Doctor Name" aria-describedby="sizing-addon1" <%= f.text_field :doctorname%>
</div>
</p>
  <p>
 <%= f.label :doctoremail %><br>
 <%= f.text_field :doctoremail %>
 </p>
  <p>
 <%= f.label :doctorspeciality %><br>
 <%= f.text_field :doctorspeciality %>
 </p>
  <p>
 <%= f.label :doctornumber %><br>
 <%= f.text_field :doctornumber %>
 </p>
  <p>
 <%= f.label :doctorimage %><br>
 <%= f.text_field :doctorimage %>
 </p>

 <p>
 <%= f.submit %>
 </p>
