<h1>Doctor Profile for <%= @doctor.doctorname %></h1>

<p>
 <strong>doctorname:</strong>
 <%= @doctor.doctorname %>
</p>

<p>
 <strong>doctoremail:</strong>
 <%= @doctor.doctoremail %>
</p>

<p>
 <strong>doctorspeciality:</strong>
 <%= @doctor.doctorspeciality %>
</p>

<p>
 <strong>doctornumber:</strong>
 <%= @doctor.doctornumber %>
</p>

<p>
 <strong>doctorimage:</strong>
 <%= @doctor.doctorimage %>
</p>



<%= link_to 'Edit', edit_clinic_doctor_path(@doctor) %>
